* {
  box-sizing: border-box;
}
.Pleyo {
  font-family: "Pleyo";
  font-weight: normal;
  font-style: normal;
}
.Pascal {
  font-family: "Pascal";
  font-weight: normal;
  font-style: normal;
}
html,
body {
  background-color: #000000;
}
.container .header h1 {
  letter-spacing: 5px;
  color: purple;
  width: 100%;
  text-align: center;
  border-bottom: none;
  padding: 2px;
  font-family: "Pascal";
  margin-top: -20px;
  margin-bottom: 0;
  font-size: 80px;
}
.container .header h2 {
  color: orange;
  width: 100%;
  text-align: center;
  border-bottom: none;
  padding: 2px;
  font-family: "Pleyo";
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 20px;
}
.container .map .angular-leaflet-map {
  width: 100%;
  height: 200px;
}
.container .map .angular-leaflet-map .leaflet-top.leaflet-left {
  visibility: hidden;
}
.container .feature-content .image {
  position: relative;
}
.container .feature-content .image .title {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: "Pleyo";
  top: 0;
  font-size: 15px;
  letter-spacing: 1px;
  color: pink;
  display: inline-block;
}
.container .feature-content .image .feature-image {
  width: 100%;
  height: auto;
}
.container .feature-content .image .image-controls {
  width: 100%;
  bottom: 4px;
  position: absolute;
  display: inline-block;
}
.container .feature-content .image .image-controls .inner.right {
  padding: 4px;
  float: right;
}
.container .feature-content .image .image-controls .inner.right .btn {
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 2px;
}
.container .feature-content .image .image-controls .inner.left {
  padding: 4px;
  float: left;
}
.container .feature-content .image .image-controls .inner.left .btn {
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 2px;
}
