* {
  box-sizing: border-box;
}
html,
body {
  background-color: #333333;
}
.container {
  margin: 0 auto;
}
.container .header {
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  border-bottom: none;
  padding: 2px;
}
.container .angular-leaflet-map {
  width: 100%;
  height: 250px;
}
.container .angular-leaflet-map .leaflet-top.leaflet-left {
  visibility: hidden;
}
.container .image {
  position: relative;
}
.container .image .image-controls {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
}
.container .image .image-controls .inner {
  display: inline-block;
}
.container .image .image-controls .inner.right {
  margin-right: 15px;
  float: right;
}
.container .image .image-controls .inner.left {
  margin-left: 15px;
  float: left;
}
.container .feature-image {
  width: 100%;
  height: auto;
}
.container .column {
  width: 100%;
  float: left;
  padding: 2px;
}
@media only screen and (min-width: 600px) {
  .container {
    width: 600px;
  }
  .container .header {
    color: #FFFFFF;
    width: 100%;
    border-bottom: none;
    text-align: center;
    padding: 2px;
  }
  .container .angular-leaflet-map {
    width: 600px;
    height: 250px;
  }
  .container .feature-image {
    width: 600px;
    height: auto;
  }
  .container .column {
    width: 100%;
    padding: 2px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .container .header {
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    border-bottom: none;
    padding: 2px;
  }
  .container .angular-leaflet-map {
    width: 372px;
    height: 372px;
  }
  .container .angular-leaflet-map .leaflet-top.leaflet-left {
    visibility: visible;
  }
  .container .feature-image {
    width: 372px;
    height: 372px;
  }
  .container .column {
    width: 50%;
    float: left;
    padding: 2px;
  }
}
@media only screen and (min-width: 960px) {
  .container {
    width: 960px;
    text-align: center;
  }
  .container .header {
    color: #FFFFFF;
    width: 100%;
    border-bottom: none;
    padding: 2px;
  }
  .container .angular-leaflet-map {
    width: 476px;
    height: 476px;
  }
  .container .angular-leaflet-map .leaflet-top.leaflet-left {
    visibility: visible;
  }
  .container .feature-image {
    width: 476px;
    height: 476px;
  }
  .container .column {
    width: 50%;
    float: left;
    padding: 2px;
  }
}
@media only screen and (min-width: 1240px) {
  .container {
    width: 1240px;
    text-align: center;
  }
  .container .header {
    color: #FFFFFF;
    width: 100%;
    border-bottom: none;
    padding: 2px;
  }
  .container .angular-leaflet-map {
    width: 600px;
    height: 600px;
  }
  .container .angular-leaflet-map .leaflet-top.leaflet-left {
    visibility: visible;
  }
  .container .feature-image {
    width: 600px;
    height: 600px;
  }
  .container .column {
    width: 50%;
    float: left;
    padding: 2px;
  }
}
