<div class="image">
    <div class="title">{{feature.properties.title}}</div>
    <img src={{feature.properties.image}} class="feature-image">
    <div class="image-controls">
        <div class="inner left">
            <button class="btn btn-default" ng-click="previousFeature()">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
        </div>
        <div class="inner right">
            <button class="btn btn-default" ng-click="nextFeature()">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
